<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration debug="false" scan="false" packagingData="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5p %c [%F:%L-%M] - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.lsnju" level="info" />

    <logger name="org.apache.http.headers" level="debug" />

    <logger name="org.apache.hc.client5.http.headers" level="debug" />
    <logger name="org.apache.hc.client5.http.wire" level="info" />

    <logger name="org.apache.hc" level="debug" />
    <logger name="org.apache.hc.client5" level="info" />
    <logger name="org.apache.hc.client5.http" level="info" />
    <logger name="org.apache.hc.client5.http.impl" level="info" />

    <root level="warn">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
